@import "https://fonts.googleapis.com/css?family=Calligraffitti";
@import "https://fonts.googleapis.com/css?family=Pacifico";

/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    padding: 0px 0;
    padding-left: 0px;
    padding-right: 0px;
    /* If you want dots under the hoverable text */
}


/* Tooltip text */

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: darkslategray;
    color: rgb(245, 252, 233);
    text-align: left;
    padding: 15px 15px 15px 15px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.tooltip img {
    float: left;
    margin: 0px 8px 8px 0;
}


/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    visibility: visible;
}


/* Center item in page */

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


/* Embiggen the font */

.big {
    font-size: 20px;
}


/* A special font for speaking of the Animal. */

.animal {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: black;
}

p {
    font-family: 'Roboto', Helvetica, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
    /*text-indent: 15px;*/
}

.redacted {
    color: linen;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    padding: 0px 0;
    padding-left: 0px;
    padding-right: 0px;
}

.redacted:hover {
    color: black;
}


/* Tidying up the portraits. */

.avatar {
    border-radius: 50%;
}


/* Regular tables */

table {
    width: 100%;
    padding: 10px;
}


/* Special tables */

table#special {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table#special tr:nth-child(even) {
    background-color: #eee;
    padding: 10px;
    border: 1px solid black;
}

table#special tr:nth-child(odd) {
    background-color: #fff;
    padding: 10px;
    border: 1px solid black;
}

table#special th {
    color: white;
    background-color: black;
    padding: 10px;
}

.good {
    font-size: 16px;
    color: limegreen;
    font-weight: bold;
}


/* Letters from Bryti */

p#BrytiLetter {
    font-family: 'Calligraffitti', fantasy;
    font-size: 15px;
}


/* Letters from Skulk */

p#SkulkLetter {
    font-family: 'Pacifico', fantasy, sans-serif;
    font-size: 20px;
}