@import "https://fonts.googleapis.com/css?family=Long Cang";
@import "https://fonts.googleapis.com/css?family=Miss Fajardose";
@import "https://fonts.googleapis.com/css?family=Bilbo";
@import "https://fonts.googleapis.com/css?family=Kristi";
@import "https://fonts.googleapis.com/css?family=Special Elite";
body {
    background-color: #fbf4ea;
}


/* Letters from Fury */

p#FuryLetter {
    font-family: 'Miss Fajardose';
    font-size: 25px;
}


/* Letters from Hunger */

p#HungerLetter {
    font-family: 'Bilbo', sans-serif;
    font-size: 17px;
}

p#DogLetter {
    font-family: 'Bilbo', sans-serif;
    font-weight: bolder;
    font-size: 20px;
}


/* Letters from Cantia */

p#CantiaLetter {
    font-family: 'Kristi', fantasy;
    font-size: 15px;
}


/* Letters from Governor */

p#GovJerk {
    font-family: 'Special Elite', serif;
    font-size: 20px;
}


/* Reports from Doukas */

p#DoukasLetter {
    font-family: 'Long Cang', serif;
    font-size: 20px;
}