@import "https://fonts.googleapis.com/css?family=Calligraffitti";
@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "https://fonts.googleapis.com/css?family=Amatic SC";
@import "https://fonts.googleapis.com/css?family=Shadows Into Light";
@import "https://fonts.googleapis.com/css?family=Kristi";

/* Letters from Bryti */

p#BrytiLetter {
    font-family: 'Calligraffitti', fantasy;
    font-size: 15px;
}


/* Letters from Skulk */

p#SkulkLetter {
    font-family: 'Pacifico', fantasy, sans-serif;
    font-size: 20px;
}


/* Letters from Viss */

p#VissLetter {
    font-family: 'Amatic SC', cursive, serif;
    font-size: 17px;
}

.ShadyMagic {
    font-family: 'Shadows Into Light', cursive, sans-serif;
}

p#CoyoteLetter {
    font-family: 'Kristi', cursive, serif;
    font-size: 17px;
}