@import "../style.css";
@import "https://fonts.googleapis.com/css?family=Pacifico";
body {
    background-color: lightgrey;
}

p#cline {
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color: green;
}


/* Randos */

p#purple {
    color: mediumpurple;
}

p#magenta {
    color: magenta;
}

p#brightpink {
    color: mediumorchid;
}

p#green {
    color: lightgreen;
}

p#lime {
    color: lime;
}

p#darkgreen {
    color: darkgreen;
}

p#sky {
    color: skyblue;
}

p#cornflower {
    color: lightblue;
}

p#maroon {
    color: maroon;
}

p#tan {
    color: tan;
}


/* Named Characters */

p#Jagal {
    color: orange;
}

p#Bryti {
    color: red;
}

p#Esteemed {
    color: lightblue;
}

p#Echo {
    color: olive;
    font-weight: bolder;
}