@import "../style.css";
@import "https://fonts.googleapis.com/css?family=Pacifico";
@import "https://fonts.googleapis.com/css?family=Average";
body {
    background-color: #f2f2f2;
    font-family: 'Average';
}

p {
    font-family: 'Average';
}

p#cline {
    font-family: 'Pacifico', cursive;
    font-weight: bolder;
    color: green;
    overflow-x: clip;
}


/* Randos */

p#purple {
    color: mediumpurple;
}

p#magenta {
    color: magenta;
}

p#brightpink {
    color: mediumorchid;
}

p#green {
    color: green;
}

p#lime {
    color: lime;
}

p#darkgreen {
    color: darkgreen;
}

p#sky {
    color: skyblue;
}

p#cornflower {
    color: lightblue;
}

p#maroon {
    color: maroon;
}

p#orange {
    color: orange;
}

p#olive {
    color: olivedrab;
}

p#tan {
    color: tan;
}

p#blue {
    color: navy;
}


/* Named Characters */

p#Jagal {
    color: orange;
}

p#Gustaf {
    color: darkorange;
}

p#Bryti {
    color: red;
}

p#Esteemed {
    color: cornflowerblue;
}

p#First {
    color: red;
}

p#Echo {
    color: olive;
    font-weight: bolder;
}

p#Slabal {
    color: purple;
}

p#Embebi {
    color: teal;
}

P#Sivens {
    font-style: italic;
    font-family: serif;
}

p#Drivel {
    color: blue;
}

.Feather {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-weight: bold;
}

p#Hercus {
    color: navy;
}